
.dashboard-container
{
    background:linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4)), url(../images/days.jpeg);
    height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 991px)
{
    .dashboard-title 
    {
        margin-top: 75px;
    }

}